@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
$font-oswald: 'Oswald', sans-serif;

// @import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");
// $font-archivo:'Archivo', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font-Poppins: 'Poppins', sans-serif;

// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
// $font-Lato: 'Lato', sans-serif;

$line-font-slim:200;
$line-font-semi-slim:400;
$line-font-semi-thick:500;
$line-font-thick:800;

$size-font-header:2.5rem;
$size-font-header-laptop:3rem;
$size-font-header-show:3.2rem;
$size-font-header-menu:1.6rem;
$size-font-header-menu-laptop:1.2rem;

$size-font-menu-scroll:1.15rem;
$size-font-menu-scroll-laptop:1.2rem;

$size-font-footer:1.15rem;
$size-font-footer-laptop:1.3rem;
$size-font-footer-contact:1.8rem;
$size-font-footer-contact-laptop:1.8rem;

$size-font-page-title:2.4rem;
$size-font-page-title-laptop:1.15rem;
$size-font-page-subtitle:1.6rem;
$size-font-page-subtitle-laptop:1.15rem;


$size-font-card-title:1.3rem;
$size-font-card-subtitle:1.2rem;
$size-font-card-title-laptop:1.5rem;
$size-font-card-subtitle-laptop:1.3rem;
$size-font-card-precio:2rem;
$size-font-card-precio-laptop:2.1rem;



