//- aqui debe estar las variables
//- variable del menu principal
//- -const pages = ["Ropero", "Respostero", "Comoda", "Estantes", "Mesas", "Sillas", "Camas", "Zapatero"]

//- variable para los menus de muebles
-const pages = ["Ropero", "Respostero", "Comoda", "Estantes", "Mesas", "Sillas", "Camas", "Zapatero"]