.footer{
    background-color: #2C3E50;
    padding: .15rem 3rem;
    color: $white;
    font-size: $size-font-footer;
    font-weight: $line-font-slim;

    &__contacto{
        margin-top: 1.5rem;
        font-size: $size-font-footer-contact;
        font-weight: $line-font-thick;
        text-transform: uppercase;
    }

    &__home,
    &__numero{
        display: flex;
        align-items: center;
        

        & p{
            margin: .7rem;
        }
    }

    @include laptop{
        font-size: $size-font-footer-laptop;
        padding: .15rem 12%;

        &__direccion,
        &__telefono{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.desarrollador{
    text-align: center;
    opacity: .5;
}