.main__container-index{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include tablet{
        padding: 3rem 4rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    @include laptop{
        padding: 4rem 7rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.3rem;
    }
}