.main__container-index{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include laptop{
        padding: 4rem 7rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}