.main{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include laptop{
        padding: 4rem 7rem;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 4rem;
        column-gap: 3rem;
    }
}

img{
    max-width: 100%;
}

.box{
    display: flex;
    background-color: #fff;
    box-shadow: $shade;
    border-radius: 1rem;

    &__images{
        width: 50%;
        padding: 1rem;
    }

    &__image{
        box-shadow: $shade;
        border-radius: 1rem;
    }

    // LA SEGUNDA CAJA
    &__info{
        padding: 1rem;
        font-family: $font-archivo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__title{
        margin: 0;
    }

    &__precio{
        font-size: 3rem;
        font-weight: bold;
        margin: 1.6rem 0;
    }

    .box__colores,
    .box__comprar{
        background-color: $blue-bottom;
        height: 3rem;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $white;
        font-size: 1.3rem;
        text-transform: uppercase;
        box-shadow: $shade;
        border-radius: .5rem;
    }

    .box__colores{
        margin-bottom: 1rem;
    }

    .box__comprar{

        & i{
            // display: block;
            margin-left: 1rem;
        }
    }

}

