// MENU HOIZONTAL SCROLL
.menu{
    font-size: 1.4rem;
    background-color: $yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
    z-index: 10;
    position: sticky;
    top: 4.8rem;
    // width: 100%;
    
    &__box{
        overflow-x: auto;
        @include reset-list;
        display: flex;
        align-items: center;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    &__item{
        border: none;
        margin: 0 1rem;
        box-shadow: $shade;
        margin-bottom: .6rem;
        border-radius: .7rem;
    }

    &__link{
        display: inline-block;
        text-decoration: none;
        font-family: $font-archivo;
        text-transform: uppercase;
        font-weight: 200;
        color: $white;
        text-align: center;
        background-color: $Brown;
        padding: 1rem 1.5rem;
        border-radius: .7rem;
    }

    &__icon{
        font-size: 2rem;
        color: $Brown;
    }

    @include laptop{
        top: 6rem;
        &__box{
    
            &::-webkit-scrollbar{
                background-color: rgba(145, 104, 74,.9);
                display: block;
                height: .6rem;
                cursor: pointer;
            }
        }
    }

}