.main__container-pago{
    padding-top: 5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fomas-pago{
    box-sizing: border-box;
    margin: 2.5rem 0;
    padding: 2rem;
    box-shadow: $shade;
    border-radius: $curve-big;
    display: flex;
    flex-direction: column;
    border: $border-line;
    background-color: #fff;

    &__title{
        font-size: $size-font-page-title;
        text-decoration: underline;
        text-transform: uppercase;
        text-align: center;
    }

    &__subtitle{
        margin-top: 1rem;
        font-size: $size-font-page-subtitle;
        font-weight: $line-font-semi-thick;
    }

    &__item{
        font-size: $size-font-page-subtitle;
        margin: .5rem 0;
    }

    &__link{
        display: inline-block;
        position: relative;
        text-decoration: none;
        text-align: center;
        background-color: $blue-bottom;
        max-width: 15rem;
        color: $white;
        padding: 1rem;
        font-size: $size-font-page-subtitle;
        border-radius: $curve-bottom;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: $shade;
    }

    @include laptop{
        max-width: 50vw;
    }
}