.grupo-muebles{
    padding-top: 6rem;
    text-align: center;
    font-size: $size-font-page-title;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &__title{
        margin: 0;
    }

    &__content{
        font-size: $size-font-page-subtitle;
        margin: 0;
        margin-top: 1rem;
    }

    @include laptop{
        padding-top: 7rem;
        width: 60%;
    }
}