.main__container-ubiquenos{
    padding-top: 5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ubicacion-local{
    box-sizing: border-box;
    margin: 2.5rem 0;
    padding: 1.5rem;
    box-shadow: $shade;
    text-align: center;
    border-radius: $curve-big;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border-line;
    background-color: #fff;
    
    &__title{
        font-size: $size-font-page-title;
        // font-weight: bold;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    &__direccion{
        font-size: $size-font-page-subtitle;
        margin: 1rem 0;
    }

    &__telefono{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $size-font-page-subtitle;
        border: $border-line;
        font-weight: $line-font-semi-thick;
        margin-bottom: 1rem;
        min-width: 16rem;
        
        & p,
        & i{
            padding: .5rem 0;
            margin: 0;
            margin-left: 1rem;
        }
    }

    &__imagen{
        box-shadow: $shade;
        border-radius: $curve-big;
    }

    @include tablet{
        min-width: 75vw;
    }

    @include laptop{
        min-width: 50vw;
    }
}