extends ../templates/template

block header
    include ../includes/header-menu
    block menu-phone
        include ../includes/header-menu-phone

block menu-scroll
    include ../includes/menu-scroll

block main
    .grupo-muebles
        h2.grupo-muebles__title Camas
        p.grupo-muebles__content Tenemos Camas de diferentes tamaños y modelos en madera y metal

    .main__container-index
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'cama/'
        - var codigo = 'cam001'
        - var title = 'cama de plaza y media de madera'
        - var precio = 'S/ 280'
        - var color = false
        - const cam001a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (cam001a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'cama/'
        - var codigo = 'cam001'
        - var title = 'cama de plaza y media de madera'
        - var precio = 'S/ 280'
        - var color = false
        - const cam002a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (cam002a)

        //- include ../includes/main-index


block footer
    include ../includes/footer