extends ../templates/template

block header
    include ../includes/header-menu
    block menu-phone
        include ../includes/header-menu-phone

block menu-scroll
    include ../includes/menu-scroll

block main
    .grupo-muebles
        h2.grupo-muebles__title Comodas
        p.grupo-muebles__content Tenemos comodas de diferentes colores y tamaños de diversos materiales en melamina, madera y MDf

    .main__container-index
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'comoda/'
        - var codigo = 'com001'
        - var title = 'Comoda de melamine con cajones y puertas'
        - var precio = 'S/ 220'
        - var color = false
        - const com001a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (com001a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'comoda/'
        - var codigo = 'com001'
        - var title = 'Comoda de melamine con cajones y puertas'
        - var precio = 'S/ 220'
        - var color = false
        - const com002a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (com002a)
        //- include ../includes/main-index


block footer
    include ../includes/footer