extends ../templates/template
block header
    include ../includes/header-menu
block menu-scroll
    include ../includes/menu-scroll
block main
    include ../includes/main-index
block footer
    include ../includes/footer