extends ../templates/template

block header
    include ../includes/header-menu
    block menu-phone
        include ../includes/header-menu-phone

block menu-scroll
    include ../includes/menu-scroll

block main
    .grupo-muebles
        h2.grupo-muebles__title Mesas
        p.grupo-muebles__content Tenemos Mesas de diferentes colores y tamaños de diversos materiales en melamina, madera, MDf y metal

    .main__container-index
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'mesa/'
        - var codigo = 'mesa001'
        - var title = 'Mesa de melamine con patas de tubo'
        - var precio = 'S/ 120'
        - var color = false
        - const mesa001a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (mesa001a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'mesa/'
        - var codigo = 'mesa001'
        - var title = 'Mesa de melamine con patas de tubo'
        - var precio = 'S/ 120'
        - var color = false
        - const mesa002a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (mesa002a)

        //- include ../includes/main-index


block footer
    include ../includes/footer