extends ../templates/template

block header
    include ../includes/header-menu
    block menu-phone
        include ../includes/header-menu-phone

block menu-scroll
    include ../includes/menu-scroll

block main
    .grupo-muebles
        h2.grupo-muebles__title Reposteros
        p.grupo-muebles__content Tenemos reposteros de diferentes colores y tamaños de diversos materiales en melamina, madera y MDf

    .main__container-index
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'repostero/'
        - var codigo = 'rep001'
        - var title = 'Repostero de melamine y con ventanas de vidrio'
        - var precio = 'S/ 350'
        - var color = false
        - const rep001a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rep001a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'repostero/'
        - var codigo = 'rep001'
        - var title = 'Repostero de melamine y con ventanas de vidrio'
        - var precio = 'S/ 350'
        - var color = false
        - const rep002a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rep002a)

        //- include ../includes/main-index


block footer
    include ../includes/footer