extends ../templates/template

block header
    include ../includes/header-menu
    block menu-phone
        include ../includes/header-menu-phone

block menu-scroll
    include ../includes/menu-scroll

block main
    .grupo-muebles
        h2.grupo-muebles__title Roperos
        p.grupo-muebles__content Tenemos roperos de diferentes colores y tamaños de diversos materiales en melamina, madera y MDf

    .main__container-index
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'ropero/'
        - var codigo = 'rop001'
        - var title = 'Ropero con Cajones y espejo'
        - var precio = 'S/ 450'
        - var color = false
        - const rop001a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rop001a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'ropero/'
        - var codigo = 'rop001'
        - var title = 'Ropero con Cajones y espejo'
        - var precio = 'S/ 450'
        - var color = false
        - const rop002a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rop002a)

        //- include ../includes/main-index


block footer
    include ../includes/footer