extends ../templates/template

block header
    include ../includes/header-menu
    block menu-phone
        include ../includes/header-menu-phone

block menu-scroll
    include ../includes/menu-scroll

block main
    .grupo-muebles
        h2.grupo-muebles__title Sillas
        p.grupo-muebles__content Tenemos Sillas de diferentes formas y tamaños de diversos materiales en madera, plástico y metal

    .main__container-index
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'silla/'
        - var codigo = 'sill001'
        - var title = 'Silla comedor de madera'
        - var precio = 'S/ 75'
        - var color = false
        - const sill001a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (sill001a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'silla/'
        - var codigo = 'sill001'
        - var title = 'Silla comedor de madera'
        - var precio = 'S/ 75'
        - var color = false
        - const sill002a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (sill002a)

        //- include ../includes/main-index


block footer
    include ../includes/footer