extends ../templates/template

block header
    include ../includes/header-menu
    block menu-phone
        include ../includes/header-menu-phone

block menu-scroll
    include ../includes/menu-scroll

block main
    .grupo-muebles
        h2.grupo-muebles__title Zapateros
        p.grupo-muebles__content Tenemos zapateros de diferentes tamaños y modelos en melamine y MDF

    .main__container-index
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'ropero/'
        - var codigo = 'rop001'
        - var title = 'Ropero con Cajones y espejo'
        - var precio = 'S/ 1900'
        - var color = true
        - const rop001a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rop001a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'ropero/'
        - var codigo = 'rop001'
        - var title = 'Ropero grande de melamine'
        - var precio = 'S/ 190'
        - var color = false
        - const rop002a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rop002a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'ropero/'
        - var codigo = 'rop001'
        - var title = 'Ropero con dos puertas'
        - var precio = 'S/ 900'
        - var color = false
        - const rop003a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rop003a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'ropero/'
        - var codigo = 'rop001'
        - var title = 'Ropero con Cajones y espejo'
        - var precio = 'S/ 1900'
        - var color = true
        - const rop004a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rop004a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'ropero/'
        - var codigo = 'rop001'
        - var title = 'Ropero con Cajones y espejo'
        - var precio = 'S/ 1900'
        - var color = true
        - const rop005a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rop005a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'ropero/'
        - var codigo = 'rop001'
        - var title = 'Ropero con Cajones y espejo'
        - var precio = 'S/ 1900'
        - var color = true
        - const rop006a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (rop006a)

        //- include ../includes/main-index


block footer
    include ../includes/footer