extends ../templates/template

block header
    include ../includes/header-menu
    block menu-phone
        include ../includes/header-menu-phone

block menu-scroll
    include ../includes/menu-scroll

block main
    .grupo-muebles
        h2.grupo-muebles__title Zapateros
        p.grupo-muebles__content Tenemos zapateros de diferentes tamaños y modelos en melamine y MDF

    .main__container-index
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'zapatero/'
        - var codigo = 'zap001'
        - var title = 'zapatero de melamine para diversos tamaños'
        - var precio = 'S/ 140'
        - var color = false
        - const zap001a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (zap001a)
        //- ============================================
        - var ventaindex = true
        - var dirIMG = 'zapatero/'
        - var codigo = 'zap001'
        - var title = 'zapatero de melamine para diversos tamaños'
        - var precio = 'S/ 140'
        - var color = false
        - const zap002a = {ventaindex, dirIMG, codigo, title, precio, color}
        +product (zap002a)

        //- include ../includes/main-index


block footer
    include ../includes/footer