p.footer__contacto Contacto
.footer__direccion
    .footer__home
        i.fas.fa-home
        p Fabrica y tienda: Asoc. Wari Accopmpa Mz “G” Lt-9
    .footer__home
        i.fas.fa-home
        p Tienda : Jr los Rosales N° 215
.footer__telefono
    .footer__numero
        i.fas.fa-phone-alt
        p 910954568
    .footer__numero
        i.fas.fa-phone-alt
        p 9199555566
p.desarrollador Web desarrollado por Carlos Tucno