.header-container
    .top-bar
        .top-bar__box
            label#menu-toggle.menu__show(for="checked"): i.fas.fa-bars
            h1.top-bar__title Muebles Ayacucho
            i.top-bar__icon.fas.fa-chair
        ul#top-menu.top-menu
            li.top-menu__item: a(href="/").top-menu__link Inicio
            li.top-menu__item: a(href="ubiquenos.html").top-menu__link Ubiquenos
            li.top-menu__item: a(href="pago.html").top-menu__link Formas de Pago
            li.top-menu__item: a(href="fabrica.html").top-menu__link Muebles Personalizados


