//- MENU DE LOS TIPOS DE MUEBLES CON FINCION VARIABLE ../config/config PARA AGREGAR MAS ...
ul#menu-phone.menu-phone
    .menu-phone__box 
        each page, index in pages
            li.menu-phone__item
                a(href= page + ".html").menu-phone__link= page