//- mixin venta(codigo, titulo, precio)
//-     .box
//-         .box_container.box__images
//-             img(src="assets/img/gallery/ropero/" + codigo + ".jpg" alt="foto ropero").box__image
//-         .box_container.box__info
//-             h2.box__title Ropero con Cajones y espejo
//-             p.box__precio= precio
//-             a(href= codigo + ".html").box__colores Colores
//-             a(href= codigo + ".html").box__comprar Comprar
//-                 i.fas.fa-shopping-cart

//- +venta('rop001a', 'Ropero con Cajones y espejo', 'S/ 620')

//- +venta('rop002a', 'Ropero grande dos puertas', 'S/ 780')

//- +venta('rop001a', 'Ropero con Cajones y espejo', 'S/ 620')

//- +venta('rop002a', 'Ropero grande dos puertas', 'S/ 780')

//- +venta('rop001a', 'Ropero con Cajones y espejo', 'S/ 620')

//- +venta('rop002a', 'Ropero grande dos puertas', 'S/ 780')

//- +venta('rop001a', 'Ropero con Cajones y espejo', 'S/ 620')

//- +venta('rop002a', 'Ropero grande dos puertas', 'S/ 780')

//- +venta('rop001a', 'Ropero con Cajones y espejo', 'S/ 620')

//- +venta('rop002a', 'Ropero grande dos puertas', 'S/ 780')

//- +venta('rop001a', 'Ropero con Cajones y espejo', 'S/ 620')

//- +venta('rop002a', 'Ropero grande dos puertas', 'S/ 780')













//- -const ropero = ["rop001a", "rop002a", "rop003a", "rop004a"]


//- each codigo, i in ropero
//-     .box
//-         .box_container.box__images
//-             img(src="assets/img/gallery/ropero/" + codigo + ".jpg" alt="foto ropero").box__image
//-         .box_container.box__info
//-             h2.box__title Ropero con Cajones y espejo
//-             p.box__precio= precio
//-             a(href= codigo + ".html").box__colores Colores
//-             a(href= codigo + ".html").box__comprar Comprar
//-                 i.fas.fa-shopping-cart