ul.menu
    i.menu__icon.fas.fa-chevron-circle-left
    .menu__box 
        each page, index in pages
            li.menu__item
                a(href= page + ".html").menu__link= page
    i.menu__icon.fas.fa-chevron-circle-right